rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {

    match /{file=**} {
      allow read, write: if false;
    }

    match /users/{uid}/menus/{menuId=**} {
      allow read;
      allow write: if isSignIn();
      allow delete: if isOwner(uid);
    }

    // Functions

    function isSignIn() {
      return request.auth != null;
    }

    function isOwner(uid) {
      return request.auth.uid == uid;
    }
  }
}
